body {
    margin: 0;
    background-color: black;
}

main {
    background: hsla(0,0%,100%,.1);
    width: 50%;
    height: 70%;
    position: absolute;
    top: 10%; right: 25%;
    margin: auto;
    overflow: hidden;
    border-radius: 1vh;
    overflow-y: auto;
}

body, main::before {
    background: url('/nmj_padded2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

main::before {
    content: "";
    -webkit-filter: blur(4vh);
    filter: blur(4vh);
    display: inline-block;
    position: inherit;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 9vh;
    position: absolute;
    top: 14vh;
    left: 12vh;
    z-index: -1;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 4vh;
    letter-spacing: 0.3em;
    position: absolute;
    top: 50vh;
    left: 12vh;
    z-index: -1;
}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 3.5vh;
    letter-spacing: 0.2em;
    position: absolute;
    top: 84vh;
    left: 12vh;
    z-index: -1;
}
.nmj{
    display: none;
}

.copyright {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    padding: 10px auto 10px auto;
    text-align: center;
    margin-top: 0;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4vh;
    margin-top: 0;
}

.side-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-decoration: none;
}

.side-link:hover {
    color: grey;
}

.side-container {
    position: absolute;
    top: 15vh;
    right: 13vh;
    z-index: -1;
    font-size: 5vh;
    margin-top:0;
    line-height: 1.85;
}

.lab {
    color: white;
    text-decoration: none;
}

.lab:hover {
    color: grey;
}

.social {
    position: relative;
    margin-top: 25%;
    height: 20%;
    padding: 1vh;
    left: 10%;
}

.social:hover {
    height: 15vh;
}

.about {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    margin-top: 2vh;
    padding: 3vh;
    line-height: 1.5;
    position: relative;
}

.ka {
    width: 20%;
    float: left;
    margin: 5vh 3vh 2vh 3vh;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.converter {
    width: 40%;
    float: right;
    margin: 120px 20px 10px 20px;
}

.software-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2vw;
    margin-top: 120px;
    margin-left: 40px;
}

.software-description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    margin-top: -1.2em;
    padding: 0 40px 40px 40px;
    line-height: 1.5;
}

.git {
    color: white;
    text-decoration: none;
}

.git:hover {
    color: grey;
}

.ciona {
    font-style: italic;
}
